@use '../../../../css/variables' as *;
@use 'sass:color';

.label {
    padding: 6px 12px;
    background-color: color.change($accent-light-color, $alpha: .8);
    color: $accent-light-color;
    border-radius: $br-sm;
    font-size: $font-sm;
    font-weight: 500;
    border: 1px solid $accent-light-color;
}
