@use '../../../../css/variables' as *;

.input {
    width: 100%;
    padding: 6px 12px;
    border-radius: $br-sm;
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $bg-light-color;
    font-size: $font-sm;
    &:disabled {
        background-color: $pending-color;
        cursor: not-allowed;
    }
    &::placeholder {
        color: $text-gray-color;
    }
    &[type='file'] {
        display: none;
    }
}
