@use '../../../../css/variables' as *;

.dot {
    display: inline-block;
    border-radius: $br-full;
    flex-shrink: 0;

    &.sm {
        width: 8px;
        height: 8px;
    }

    &.md {
        width: 10px;
        height: 10px;
    }
}

.closed {
    background-color: $pending-color;
}

.open{
    background-color: $info-color;
}

.low {
    background-color: $success-color;
}

.medium {
    background-color: $warning-color;
}

.high {
    background-color: $error-color;
}
