@use '../../../../css/variables.scss' as *;

.menu {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    right: 0;
    background: $bg-color;
    border: 1px solid $bg-color;
    border-radius: 8px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 8px 10px -6px rgba(0, 0, 0, 0.4);
    z-index: 100;
    overflow: hidden;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
