@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #8844da;
    --accent-light-color: rgb(183 103 255 / 0.8);
    --accent-color-opacity: rgba(136, 68, 218, 0.2);
    --success-color: #4caf50;
    --error-color: #f44336;
    --warning-color: #ff9800;
    --pending-color: #757575;
    --info-color: #2196f3;
    --bg-color: #1c1c1c;
    --bg-color-hover: #171717;
    --bg-dark-color: #121212;
    --bg-light-color: rgb(60 60 60 / 0.8);
    --bg-light-color-hover: rgb(40 40 40 / 0.8);
    --text-color: #f3f3f3;
    --text-gray-color: #999;
}
