@use '../../../../css/variables' as *;

.userBadge {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-color;

    &.sm {
        gap: 6px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.name {
    font-size: $font-sm;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email {
    font-size: $font-2xs;
    color: $text-gray-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
